{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="all-posts-view">
        <h2>All Posts</h2>
        {% if user.is_authenticated %}
            <div id="new-post">

                <h3>New Post</h3>

                <form id="compose-post">    
                    {% csrf_token %}
                    <textarea class="form-control" id="post-body" placeholder=""></textarea>
                    <input type="submit" value="Post" class="btn btn-primary"/>
                </form>

            </div>
        {% endif %}
        <div id="div-all-posts">

        </div>
    </div> 

    {% if user.is_authenticated %}
        <div id="following-view">

        </div>
    {% endif %}

    <div id="profile-view">
        <div id="profile-content"></div>
        <h4 style="margin: 15px;">Posts: </h4>
        <div id="profile-posts"></div>
    </div>

    <div id="pagination-btns">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" id="previous-btn">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#" id="next-btn">Next</a></li>
        </ul>
    </div>

    
{% endblock %}

