h2, #pagination-btns{
    margin: 15px;
}

#new-post {
    margin: 15px;
    border: solid #c8cbce 1px;
    padding: 20px;
    border-radius: 5px;
}



#profile-content{
    margin: 15px;
    border: solid #c8cbce 1px;
    padding: 20px;
    border-radius: 5px;
}

.post-item {
    margin: 15px;
    border: solid #c8cbce 1px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.post-item > p {
    font-size: 18px;
}

#new-post > h3 {
    margin-bottom: 5px;
}

#new-post > form > textarea {
    margin-bottom: 10px;
    height: 80px;
}

#edit-post {
    margin: 15px;
}


#edit-post > textarea {
    margin-bottom: 10px;
    height: 80px;
}

em {
    color: red;
    font-size: 28px;
}