h2{
    margin: 15px;
}

#new-post {
    margin: 15px;
    border: solid #c8cbce 1px;
    padding: 20px;
    border-radius: 5px;
}

#new-post > h3 {
    margin-bottom: 20px;
}

#new-post > form > textarea {
    margin-bottom: 10px;
    height: 80px;
}